<%- include("partials/header") %>
    <div class="container">
        <h1>Compose The Blog</h1>
        <form class="" action="/compose" method="post">
            <div class="form-group">
                <label>Link</label>
                <input class="form-control" type="text" name="postLink">

            </div>
            <button class="btn btn-primary" type="submit" name="button">Publish</button>
        </form>
    </div>

    <%- include("partials/footer") %>