<%- include("partials/header") %>
    <section>
        <div class="col">
            <div class="row">
                <div class="addBlog">
                    <a href="/compose">
                        <p>Add</p>
                    </a>
                </div>
                <% posts.forEach( post => {%>
                    <div class="images">
                        <a href="/<%= post.postLink%>"><img src="images/aloe-vera.jpg" alt="images"></a>
                    </div>
                    <%})%>
            </div>
        </div>
    </section>


    <%- include("partials/footer")  %>