<%- include("partials/header") %>
    <section id="info">
        <div class="container-fluid">
            <h3 class="text-uppercase text-center pt-3">aloe vera</h3>
            <div class="mx-auto justify-content-center text-center text-capitalize">
                <div class="card" style="width: 35rem;">
                    <img class="card-img-top" src="images/aloe-vera.jpg" alt="Card image cap" style="width: 100%; height: 100%">
                    <div class="card-body">
                        <h5 class="card-title text-capitalize">aloe vera</h5>
                    </div>
                </div>
                <p class="text-capitalize py-3 text-left" style="font-size: 15px">
                    Aloe vera is a cactus-like succulent plant with a clear healing gel in the leaves. There are many species of Aloe vera but the most commonly used is Aloe barbadensis. One of the most effective uses of Aloe vera gel is to manage various skin problems like
                    acne and blemishes. Aloe vera is also good for controlling dandruff and hair loss. Internally, Aloe vera juice is used to reduce constipation due to its laxative property. Aloe vera juice is also used to lose weight and to manage diabetes.
                    It is advisable to avoid Aloe vera during pregnancy as it may cause a miscarriage by increasing uterine contractions. In some cases, Aloe vera might cause stomach pain, diarrhea and skin irritations[1][3]. What are the synonyms of
                    Aloe vera? Aloe barbadensis Mill., Ghritkumari, Gheekumari, Khorpad, Gheekwar, Musabhar, Machambar, Ghritakalmi, Indian Aloe, Eliyo, Eariyo, Musabhar, Elva, Karibola, Lolesara satva, Lovalsara, Lolesara, Musabbar, Siber, Chenninayakam,
                    Korphad, Musabara, Kalasohaga, Mussabar, Alua, Kattazhi, Satthukkathazhai, Musambaram, Musabbar, Ailiva, Siber[14][15]. What is the source of Aloe vera? Plant Based.
                </p>
                <p class="text-capitalize py-3 text-left" style="font-size: 15px">
                    Aloe vera is a cactus-like succulent plant with a clear healing gel in the leaves. There are many species of Aloe vera but the most commonly used is Aloe barbadensis. One of the most effective uses of Aloe vera gel is to manage various skin problems like
                    acne and blemishes. Aloe vera is also good for controlling dandruff and hair loss. Internally, Aloe vera juice is used to reduce constipation due to its laxative property. Aloe vera juice is also used to lose weight and to manage diabetes.
                    It is advisable to avoid Aloe vera during pregnancy as it may cause a miscarriage by increasing uterine contractions. In some cases, Aloe vera might cause stomach pain, diarrhea and skin irritations[1][3]. What are the synonyms of
                    Aloe vera? Aloe barbadensis Mill., Ghritkumari, Gheekumari, Khorpad, Gheekwar, Musabhar, Machambar, Ghritakalmi, Indian Aloe, Eliyo, Eariyo, Musabhar, Elva, Karibola, Lolesara satva, Lovalsara, Lolesara, Musabbar, Siber, Chenninayakam,
                    Korphad, Musabara, Kalasohaga, Mussabar, Alua, Kattazhi, Satthukkathazhai, Musambaram, Musabbar, Ailiva, Siber[14][15]. What is the source of Aloe vera? Plant Based.
                </p>
            </div>
        </div>


        </div>
        </div>
    </section>

    <%- include("partials/footer") %>